// Colours
$mainBlack: #000000;
$mainWhite: #FFFFFF;
$brandColour: #5B41DD;
$backgroundGrey: #FAFAFA;
$headerColour: #000000;
$bodyCopyColour: #686677;

// Fonts
$headerFont: 'Work Sans', sans-serif;
$bodyFont: 'Roboto', sans-serif;

// Pixel widths
$largeLaptop: 1440px;
$standardLaptop: 1024px;
$tablet: 768px;
$largeMobile: 426px;
$smallMobile: 321px;