
// Colours
$mainBlack: #000000;
$mainWhite: #FFFFFF;
$backgroundGrey: #FAFAFA;
$headerColour: #000000;
$bodyCopyColour: #686677;
$headerFont: 'Work Sans', sans-serif;
$bodyFont: 'Roboto', sans-serif;

////////////////////////////////// Desktop Styling

body {
    padding: 0;
    margin: 0;
}

.outerContainer {
    padding: 0 80px;
    max-width: 1712px;
    margin: auto;
}

////// Typography

h1 {
    font-family: $headerFont;
    font-size: 60px;
    font-weight: 500;
}

h2 {
    font-family: $headerFont;
    font-size: 50px;
    font-weight: 500;
}

h3 {
    font-family: $headerFont;
    font-size: 36px;
    font-weight: 500;
}

h4 {
    font-family: $headerFont;
    font-size: 30px;
    font-weight: 500;
}

h5 {
    font-family: $headerFont;
    font-size: 25px;
    font-weight: 500;
}

h6 {
    font-family: $headerFont;
    font-size: 20px;
    font-weight: 400;
}

p {
    font-family: $bodyFont;
    font-size: 16px;
    font-weight: 400;
    color: $bodyCopyColour;
}

.bodyHeader {
    font-family: $bodyFont;
    font-size: 20px;
    font-weight: 400;
    color: $bodyCopyColour;
}

////// Buttons
.button-blk {
    font-family: $headerFont;
    color: $mainWhite;
    font-size: 16px;
    background-color: $mainBlack;
    padding: 15px 40px;
    border: 1.5px rgba(255,255,255,.5) solid;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.1s;
}

.button-blk:hover {
    background-color: white;
    color: black;
    transition: 0.1s;
}

.button-wht {
    font-family: $headerFont;
    color: $mainBlack;
    font-size: 16px;
    background-color: $mainWhite;
    padding: 15px 40px;
    border: 1.5px rgba(255,255,255,.5) solid;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.1s;
}

.button-wht:hover {
    background-color: black;
    color: white;
    transition: 0.1s;
}

////// Homepage header styling

.header {
    height: 850px;
    background-color: $mainBlack;

    .navbar {
        // CSS Grid system for the top navigation
        display: grid;
        grid-template-columns: 20% 60% 20%;
        align-items: center;
        padding-top: 60px;

        // Styling the top navigation menu
        .menu {
            padding: 0;
            margin: 0;
            list-style-type: none;
            text-align: center;

            li {
                display: inline;
                padding: 15px;
                vertical-align: middle;
                cursor: pointer;
            }

            a {
                text-decoration: none;
                margin: 0 8px;
                padding-bottom: 10px;
                vertical-align: middle;
                color: $mainWhite;
                font-family: $headerFont;
                font-size: 16px;
                font-weight: 400;
            }

            a:hover {
                border-bottom: 1.5px white solid;
                transition: 0.1s;
            }
        }
        // Top nav social icons 
        .socialIcons {
            padding: 0;
            margin: 0;
            text-align: right;
            
                img {
                    width: 22px;
                    padding-left: 28px;
                }
            }
    }


    .innerContainer {
        max-width: 1128px;
        margin: auto;

        .homepageHeaderWhite {
            color: $mainWhite;
            padding-top: 200px;
        }
    }
}

////// Homepage Portfolio
.portfolioHero {
    width: 100%;
    height: 1080px;
    background-image: url("../assets/heroportfolioimage1.jpg");
    background-size: cover;
    background-position: 50%;

    .caseStudyCopy {
        width: 90%;
        margin: 0 auto;
    }
}

