body {
    padding: 0;
    margin: 0;
    
}

.navbar {
    // CSS Grid system for the top navigation
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;

    // Testing purposes only
    div {
        background: #eee;
        padding: 1em;
    }

    // Testing purposes only
    div:nth-child(odd) {
        background: #ddd;
    }

    // Styling the top navigation menu
    .menu {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;

        li {
            display: inline;
            padding: 15px;
            vertical-align: middle;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: black;
            padding: 8px;
            vertical-align: middle;
        }
    }
    
    .socialIcons {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;

        li {
            display: inline;
            padding: 15px;
            vertical-align: middle;
            cursor: pointer;
        }
    }


}
