* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.outerContainer {
  padding: 0 80px;
  max-width: 1712px;
  margin: auto;
}

.innerContainer {
  max-width: 1128px;
  margin: auto;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 60px;
  font-weight: 500;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 50px;
  font-weight: 500;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 36px;
  font-weight: 500;
}

h4 {
  font-family: "Work Sans", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h5 {
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
  font-weight: 500;
}

h6 {
  font-family: "Work Sans", sans-serif;
  color: #686677;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #686677;
}

.bodyHeader {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #686677;
}

.header-12 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #686677;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.button-blk {
  font-family: "Work Sans", sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  background-color: #000000;
  padding: 20px 40px;
  border: 1.5px rgba(255, 255, 255, 0.5) solid;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.button-blk:hover {
  background-color: white;
  color: black;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.button-wht {
  font-family: "Work Sans", sans-serif;
  color: #000000;
  font-size: 16px;
  background-color: #FFFFFF;
  padding: 20px 40px;
  border: 1.5px rgba(0, 0, 0, 0.2) solid;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.button-wht:hover {
  background-color: black;
  color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.button-grey {
  font-family: "Work Sans", sans-serif;
  color: #000000;
  font-size: 16px;
  background-color: #FAFAFA;
  padding: 20px 40px;
  border: 1.5px rgba(0, 0, 0, 0.2) solid;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.button-grey:hover {
  background-color: black;
  color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.footerCTASection {
  height: 640px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.footerCTASection .footerCTA {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerCTASection .footerCTA a {
  color: white;
  text-decoration: none;
}

footer {
  background-color: #000000;
  height: 822px;
  width: 100%;
}

footer .innerContainer {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

footer .innerContainer .footerHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  margin-bottom: 170px;
}

footer .innerContainer .footerHeader h4 {
  color: white;
  font-weight: 400;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

footer .innerContainer .footerHeader .buttonWrapper {
  text-align: right;
}

footer .innerContainer .mainFooter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr 2fr 1fr;
      grid-template-columns: 3fr 2fr 2fr 1fr;
}

footer .innerContainer .mainFooter .header-12 {
  color: #FFFFFF;
  margin-bottom: 30px;
}

footer .innerContainer .mainFooter p {
  line-height: 27px;
}

footer .innerContainer .mainFooter div ul {
  list-style-type: none;
  color: #686677;
  font-family: "Roboto", sans-serif;
  line-height: 27px;
}

footer .innerContainer .mainFooter .footerLink {
  text-decoration: underline;
  color: #686677;
}

footer .innerContainer .mainFooter .footerLink:hover {
  color: white;
}

.ourWorkCTA {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../assets/freestocks-org-40k6ZqbsXuo-unsplash.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/freestocks-org-40k6ZqbsXuo-unsplash.jpg");
}

.theStudioCTA {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../assets/room-3m9132_mMSQ-unsplash.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/room-3m9132_mMSQ-unsplash.jpg");
}

.header {
  height: 850px;
  background-color: #000000;
}

.header .mobileNavigation {
  display: none;
}

.header .navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
}

.header .navigation .menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.header .navigation .menu li {
  display: inline;
  padding: 15px;
  vertical-align: middle;
  cursor: pointer;
}

.header .navigation .menu a {
  text-decoration: none;
  margin: 0 8px;
  padding-bottom: 10px;
  vertical-align: middle;
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header .navigation .menu a:hover {
  border-bottom: 1.5px white solid;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.header .navigation .socialIcons {
  padding: 0;
  margin: 0;
  text-align: right;
}

.header .navigation .socialIcons img {
  width: 22px;
  padding-left: 28px;
}

.header .outerContainer .innerContainer .homepageHeaderWhite {
  color: #FFFFFF;
  padding-top: 200px;
  padding-bottom: 50px;
}

.portfolio-1 {
  height: 1080px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/homepageportfolio-large.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.5)), url("../assets/homepageportfolio-large.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.portfolioCopyWrapperLarge {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 80px 80px;
  color: white;
}

.portfolioCopyWrapperLarge h2 {
  padding-top: 20px;
}

.portfolioCopyWrapperLarge h6 {
  color: white;
}

.portfolio-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.portfolio-2 .portfolioImage-1 .portfolioCopyWrapper h6,
.portfolio-2 .portfolioImage-2 .portfolioCopyWrapper h6 {
  color: white;
}

.portfolio-2 .portfolioImage-1 {
  height: 640px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/you-x-ventures-tHO1_OuKbg0-unsplash@2x.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.5)), url("../assets/you-x-ventures-tHO1_OuKbg0-unsplash@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.portfolio-2 .portfolioImage-1 .portfolioCopyWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 80px 80px;
  color: white;
}

.portfolio-2 .portfolioImage-1 .portfolioCopyWrapper h3 {
  padding-top: 20px;
}

.portfolio-2 .portfolioImage-2 {
  height: 640px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/le-buzz-tVnm9I9jb8I-unsplash@2x.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.5)), url("../assets/le-buzz-tVnm9I9jb8I-unsplash@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.portfolio-2 .portfolioImage-2 .portfolioCopyWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 80px 80px;
  color: white;
}

.portfolio-2 .portfolioImage-2 .portfolioCopyWrapper h3 {
  padding-top: 20px;
}

.ourCapabilities {
  height: 800px;
  width: 100%;
  background-color: #FAFAFA;
}

.ourCapabilities .innerContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ourCapabilities .innerContainer div h2 {
  margin-bottom: 50px;
}

.ourCapabilities .innerContainer div h6 {
  margin-bottom: 80px;
  padding-right: 40px;
}

.ourCapabilities .innerContainer .capabilitiesList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

.ourCapabilities .innerContainer .capabilitiesList div {
  margin-bottom: 80px;
}

.ourCapabilities .innerContainer .capabilitiesList div .header-12 {
  margin-bottom: 25px;
}

.ourCustomers {
  height: 100vh;
  width: 100%;
}

.ourCustomers .innerContainer {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ourCustomers .innerContainer .ourCustomersIntro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  margin-bottom: 150px;
}

.ourCustomers .innerContainer .ourCustomersIntro .buttonWrapper {
  text-align: right;
}

.ourCustomers .innerContainer .logoWall .logoStrip {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-row-gap: 100px;
}

.ourCustomers .innerContainer .logoWall .logoStrip img {
  opacity: 0.5;
  width: 130px;
  display: block;
  margin: auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.ourCustomers .innerContainer .logoWall .logoStrip img:hover {
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.latestJournalPosts {
  background-color: #FAFAFA;
  height: 1000px;
  width: 100%;
}

.latestJournalPosts .innerContainer {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.latestJournalPosts .innerContainer .latestJournalPostsIntro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 80px;
}

.latestJournalPosts .innerContainer .latestJournalPostsIntro h4 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.latestJournalPosts .innerContainer .latestJournalPostsIntro .buttonWrapper {
  text-align: right;
}

.latestJournalPosts .innerContainer .journalPosts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

.latestJournalPosts .innerContainer .journalPosts div img {
  width: 100%;
  margin-bottom: 50px;
}

.latestJournalPosts .innerContainer .journalPosts div h4 {
  margin-bottom: 16px;
}

.latestJournalPosts .innerContainer .journalPosts div h6 {
  padding-right: 50px;
}

@media (max-width: 1440px) {
  .header {
    background-color: orange;
  }
  .portfolio-1 .portfolioCopyWrapperLarge {
    padding: 0 0 60px 60px;
  }
  .portfolio-2 .portfolioImage-1 .portfolioCopyWrapper,
  .portfolio-2 .portfolioImage-2 .portfolioCopyWrapper {
    padding: 0 0 60px 60px;
  }
}

@media (max-width: 1024px) {
  .header {
    background-color: blue;
  }
  .header .navigation .menu li {
    padding: 0;
  }
  .header .navigation .socialIcons img {
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  .header {
    background-color: red;
  }
  .header .navigation {
    display: none;
  }
  .header .mobileNavigation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-top: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .mobileNavigation .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #000000;
    overflow-x: hidden;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    padding-top: 60px;
  }
  .header .mobileNavigation .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Work Sans", sans-serif;
    color: #FFFFFF;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header .mobileNavigation .sidenav a:hover {
    color: #f1f1f1;
  }
  .header .mobileNavigation .sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
  }
  .header .mobileNavigation .menuIcon {
    text-align: right;
  }
  .header .mobileNavigation .menuIcon img {
    width: 30px;
    cursor: pointer;
  }
}

@media (max-width: 320px) {
  .header {
    background-color: green;
  }
}
/*# sourceMappingURL=main.css.map */