
// Colours
$mainBlack: #000000;
$mainWhite: #FFFFFF;
$backgroundGrey: #FAFAFA;
$headerColour: #000000;
$bodyCopyColour: #686677;
$headerFont: 'Work Sans', sans-serif;
$bodyFont: 'Roboto', sans-serif;

////////////////////////////////// Universal Styling
* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

.outerContainer {
    padding: 0 80px;
    max-width: 1712px;
    margin: auto;
}

.innerContainer {
    max-width: 1128px;
    margin: auto;
}


////// Typography

h1 {
    font-family: $headerFont;
    font-size: 60px;
    font-weight: 500;
}

h2 {
    font-family: $headerFont;
    font-size: 50px;
    font-weight: 500;
}

h3 {
    font-family: $headerFont;
    font-size: 36px;
    font-weight: 500;
}

h4 {
    font-family: $headerFont;
    font-size: 30px;
    font-weight: 500;
}

h5 {
    font-family: $headerFont;
    font-size: 25px;
    font-weight: 500;
}

h6 {
    font-family: $headerFont;
    color: $bodyCopyColour;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

p {
    font-family: $bodyFont;
    font-size: 16px;
    font-weight: 400;
    color: $bodyCopyColour;
}

.bodyHeader {
    font-family: $bodyFont;
    font-size: 20px;
    font-weight: 400;
    color: $bodyCopyColour;
}

.header-12 {
    font-family: $bodyFont;
    font-size: 12px;
    font-weight: 600;
    color: $bodyCopyColour;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

////// Buttons
.button-blk {
    font-family: $headerFont;
    color: $mainWhite;
    font-size: 16px;
    background-color: $mainBlack;
    padding: 20px 40px;
    border: 1.5px rgba(255,255,255,.5) solid;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.1s;
}

.button-blk:hover {
    background-color: white;
    color: black;
    transition: 0.1s;
}

.button-wht {
    font-family: $headerFont;
    color: $mainBlack;
    font-size: 16px;
    background-color: $mainWhite;
    padding: 20px 40px;
    border: 1.5px rgba(0,0,0,.2) solid;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.1s;
}

.button-wht:hover {
    background-color: black;
    color: white;
    transition: 0.1s;
}

.button-grey {
    font-family: $headerFont;
    color: $mainBlack;
    font-size: 16px;
    background-color: $backgroundGrey;
    padding: 20px 40px;
    border: 1.5px rgba(0,0,0,.2) solid;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.1s;
}

.button-grey:hover {
    background-color: black;
    color: white;
    transition: 0.1s;
}

/////// Footer 

// CTA 

.footerCTASection {
    height: 640px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .footerCTA {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        
        a {
            color: white;
            text-decoration: none;
        }
    }
}


.ourWorkCTA {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/freestocks-org-40k6ZqbsXuo-unsplash.jpg");
}

.theStudioCTA {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/room-3m9132_mMSQ-unsplash.jpg");
}





//////////////////////////////////////////// HOMEPAGE ///////////////////////////////////////

////// Homepage header styling

.header {
    height: 850px;
    background-color: $mainBlack;

    .mobileNavigation {
        display: none;
    }

    .navigation {
        // CSS Grid system for the top navigation
        display: grid;
        grid-template-columns: 20% 60% 20%;
        align-items: center;
        padding-top: 60px;

        // Styling the top navigation menu
        .menu {
            padding: 0;
            margin: 0;
            list-style-type: none;
            text-align: center;

            li {
                display: inline;
                padding: 15px;
                vertical-align: middle;
                cursor: pointer;
            }

            a {
                text-decoration: none;
                margin: 0 8px;
                padding-bottom: 10px;
                vertical-align: middle;
                color: $mainWhite;
                font-family: $headerFont;
                font-size: 16px;
                font-weight: 400;
            }

            a:hover {
                border-bottom: 1.5px white solid;
                transition: 0.1s;
            }
        }
        // Top nav social icons 
        .socialIcons {
            padding: 0;
            margin: 0;
            text-align: right;
            
                img {
                    width: 22px;
                    padding-left: 28px;
                }
            }
    }

    .outerContainer .innerContainer .homepageHeaderWhite {
    color: $mainWhite;
    padding-top: 200px;
    padding-bottom: 50px;
    }
}

////// Homepage portfolio

.portfolio-1 {
    height: 1080px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.5)), url("../assets/homepageportfolio-large.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.portfolioCopyWrapperLarge {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 80px 80px;
    color: white;

    h2 {
        padding-top: 20px;
    }

    h6 {
        color: white;
    }
}

.portfolio-2 {
    display: grid;
    grid-template-columns: 50% 50%;

    .portfolioImage-1 .portfolioCopyWrapper h6,
    .portfolioImage-2 .portfolioCopyWrapper h6 {
        color: white;
    }

    .portfolioImage-1 {
        height: 640px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.50)), url("../assets/you-x-ventures-tHO1_OuKbg0-unsplash@2x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;

        .portfolioCopyWrapper {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0 0 80px 80px;
            color: white;
            
            h3 {
                padding-top: 20px;
            }
        }
    }

    .portfolioImage-2 {
        height: 640px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.50)), url("../assets/le-buzz-tVnm9I9jb8I-unsplash@2x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        
        .portfolioCopyWrapper {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0 0 80px 80px;
            color: white;

            h3 {
                padding-top: 20px;
            }
        }
    }
}

////// Our Capabilities

.ourCapabilities {
    height: 800px;
    width: 100%;
    background-color: $backgroundGrey;

    .innerContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        div h2 {
            margin-bottom: 50px;
        }
        
        div h6 {
            margin-bottom: 80px;
            padding-right: 40px;
        }

        .capabilitiesList {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 40px;

            div {
                margin-bottom: 80px;

                .header-12 {
                    margin-bottom: 25px;
                }
            }
        }
    }
}

////// Our Customers

.ourCustomers {
    height: 100vh;
    width: 100%;

    .innerContainer {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        .ourCustomersIntro {
            display: grid;
            grid-template-columns: 80% 20%;
            margin-bottom: 150px;

            .buttonWrapper {
                text-align: right;
            }
        }

        .logoWall .logoStrip {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-row-gap: 100px;

            img {
                opacity: 0.5;
                width: 130px;
                display: block;
                margin: auto;
                transition: 0.2s;
            }

            img:hover {
                opacity: 1;
                transition: 0.2s;
            }

        }
    }
}

////// Latest Journal Posts

.latestJournalPosts {
    background-color: $backgroundGrey;
    height: 1000px;
    width: 100%;

    .innerContainer {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        .latestJournalPostsIntro {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 80px;
            
            h4 {
                position: relative;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }

            .buttonWrapper {
                text-align: right;
            }
        }

        .journalPosts {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 40px;

            div img {
                width: 100%;
                margin-bottom: 50px;
            }

            div h4 {
                margin-bottom: 16px;
            }

            div h6 {
                padding-right: 50px;
            }
        }
    }
}




////////////////////////////////// Laptop Large Styling

@media (max-width: 1440px) { 
    .header {
        background-color: orange;
    }

    ////// Homepage portfolio

    .portfolio-1 .portfolioCopyWrapperLarge {
        padding: 0 0 60px 60px;
    }

    .portfolio-2 .portfolioImage-1 .portfolioCopyWrapper, 
    .portfolio-2 .portfolioImage-2 .portfolioCopyWrapper {
        padding: 0 0 60px 60px;
    }

}


////////////////////////////////// Laptop Styling

@media (max-width: 1024px) { 
    .header {
        background-color: blue;
    }

    .header .navigation {
        .menu li {
            padding: 0;
        }
        
        .socialIcons img {
            padding-left: 15px;
        }
    }

}



////////////////////////////////// Tablet Styling

@media (max-width: 768px) { 
    .header {
        background-color: red;

        .navigation {
            display: none;
        }

        .mobileNavigation {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 60px;
            align-items: center;

            .sidenav {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                right: 0;
                background-color: $mainBlack;
                overflow-x: hidden;
                transition: 0.4s;
                padding-top: 60px;
              }
              
              .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                font-family: $headerFont;
                color: $mainWhite;
                display: block;
                transition: 0.3s;
              }
              
              .sidenav a:hover {
                color: #f1f1f1;
              }
              
              .sidenav .closebtn {
                position: absolute;
                top: 10px;
                right: 25px;
                font-size: 36px;
              }

              .menuIcon {
                  text-align: right;

                  img {
                    width: 30px;
                    cursor: pointer;
                  }
              }
        }
        
    }


}




////////////////////////////////// Mobile Styling

@media (max-width: 320px) { 
    .header {
        background-color: green;
    }
}